{{> lovedChamps}}
{{> hatedChamps}}

<input name="firstName" placeholder="enter name" value={{search}}> 
<!-- Modal Add Product-->
     

{{!-- SELECTED ITEMS --}}


    {{#each results}}
     
        <li>{{ customerName }}</li>
    
        {{/each}}
   
  </ul>
 